﻿
#cabecera {
    height: 100px;
}

#cuerpo {
    height: calc(100% - 100px);
}

#menu {
    width: 250px;
    float: left;
    border-top: 1px solid #fff;
}

#contenido {
    background-color: #ddd;
    width: calc(100% - 250px);
}

.fondo_rojo {
    background-color: #9d2424;
}


#menu_indicadores .list-group-item {
    background-color: #9d2424 !important;
    color: #fff;
    border-bottom: 1px solid #fff;
    border-top: 1px solid #fff;
}

.submenu {
    background-color: #9d2424 !important;
}

.submenu a {     
    color: #fff;
}

#menu_indicadores > .dropdown-menu {
    background-color: #9d2424 !important;
}

#menu_indicadores > .dropright > .dropdown-item {
    color: #fff !important;
}

#menu_indicadores > .list-group-item:hover, #menu_indicadores .dropdown-item:hover, .submenu > .list-group-item:hover {
    color: #9d2424 !important;
    background-color: #fff !important;
}

#menu_indicadores > .dropright.show > .dropdown-item {
    color: #9d2424 !important;
}

#tablero {
    overflow: auto;
    width: calc(100% - 250px);
}

#indicadores {
    overflow: auto;
}

#general{
    overflow: auto;
}

#mascara {
    top: 0px;
    left: 0px;
    z-index: 1001;
    background-color: rgba(0, 0, 0, 0.69);
}


/*****************************PNOTIFY*****************************/

.ui-pnotify .ui-pnotify-title, .ui-pnotify .ui-pnotify-text {
    font-family: Arial, Helvetica, sans-serif !important;
    text-shadow: 2px 2px 3px black !important;
    font-size: 12pt !important;
    color: #FFF !important;
    padding-left: 50px !important;
    line-height: 1 !important;
    text-rendering: geometricPrecision !important;
}

.ui-pnotify .ui-pnotify-title {
    font-weight: bold;
    font-size: 13pt !important;
    font-variant: small-caps;
}

.ui-pnotify .ui-pnotify-icon {
    float: left;
}


.ui-pnotify .fa, .ui-pnotify .fas, .ui-pnotify .far {
    margin: 3px;
    width: 33px;
    height: 33px;
    font-size: 33px;
    color: #fff;
}

.boton_icono {
    width: 40px;
    padding: 0.5rem;
    height: 38px;
}

/*INFO*/

.ui-pnotify.info .ui-pnotify-container {
    background-color: #3e54fc !important;
    background-image: none !important;
    border: none !important;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
}

/*SUCCESS*/

.ui-pnotify.success .ui-pnotify-container {
    background-color: #65baaf !important;
    background-image: none !important;
    border: none !important;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
}

/*UPDATE*/

.ui-pnotify.update .ui-pnotify-container {
    background-color: #487db0 !important;
    background-image: none !important;
    border: none !important;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
}

/*WARNING*/

.ui-pnotify.warning .ui-pnotify-container {
    background-color: #FFB25B !important;
    background-image: none !important;
    border: none !important;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
}

/*ERROR*/

.ui-pnotify.error .ui-pnotify-container {
    background-color: #9d2424 !important;
    background-image: none !important;
    border: none !important;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
}

td {
    padding: 0.3em;
}


/*****************************PNOTIFY*****************************/

.ui-pnotify .ui-pnotify-title, .ui-pnotify .ui-pnotify-text {
    font-family: Arial, Helvetica, sans-serif !important;
    text-shadow: 2px 2px 3px black !important;
    font-size: 12pt !important;
    color: #FFF !important;
    padding-left: 50px !important;
    line-height: 1 !important;
    text-rendering: geometricPrecision !important;
}

.ui-pnotify .ui-pnotify-title {
    font-weight: bold;
    font-size: 13pt !important;
    font-variant: small-caps;
}

.ui-pnotify .ui-pnotify-icon {
    float: left;
}


.ui-pnotify .fa, .ui-pnotify .fas, .ui-pnotify .far {
    margin: 3px;
    width: 33px;
    height: 33px;
    font-size: 33px;
    color: #fff;
}

.boton_icono {
    width: 40px;
    padding: 0.5rem;
    height: 38px;
}

/*INFO*/

.ui-pnotify.info .ui-pnotify-container {
    background-color: #3e54fc !important;
    background-image: none !important;
    border: none !important;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
}

/*SUCCESS*/

.ui-pnotify.success .ui-pnotify-container {
    background-color: #65baaf !important;
    background-image: none !important;
    border: none !important;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
}

/*UPDATE*/

.ui-pnotify.update .ui-pnotify-container {
    background-color: #487db0 !important;
    background-image: none !important;
    border: none !important;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
}

/*WARNING*/

.ui-pnotify.warning .ui-pnotify-container {
    background-color: #FFB25B !important;
    background-image: none !important;
    border: none !important;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
}

/*ERROR*/

.ui-pnotify.error .ui-pnotify-container {
    background-color: #9d2424 !important;
    background-image: none !important;
    border: none !important;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
}